<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Найди свое аниме для просмотра!">
    <meta name="keywords" content="anime, аниме, аниме просмотр, watch anime ">
    <meta name="author" content="Pirate">
    <link rel="icon" type="image/svg" href="files/img/fav.svg">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <title>Поиск аниме для просмотра</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="anime.js" type="module"></script>
    <base target="_blank">
  </head>
  <body>
    <click-spark></click-spark>
    <main id="app" class="all">
      <nav :class="{ last_query: lastSearchQuery }">
        <button class="mdi mdi-information-outline info" @click="showInfo"></button>
        <div class="last">
          <span v-if="lastSearchQuery" @click="restoreLastSearch" class="last-search"> Последний запрос: <span style="cursor: pointer; opacity: .7; border-bottom: 1px solid var(--color);"> {{ lastSearchQuery }} </span>
          </span>
        </div>
        <div class="this">
          <input type="text" size="25" placeholder="Что хочешь посмотреть?" v-model="searchQuery" @keyup.enter="searchAnimes">
          <button class="mdi mdi-close" @click="clearSearchQuery" v-if="searchQuery" style=" border-left: none; border-radius: 0; "></button>
          <button class="mdi mdi-magnify" @click="searchAnimes"></button>
        </div>
      </nav>
      <br>
      <div v-if="loading" class="loading">Загрузка...</div>
      <div class="list" v-if="!loading && animes.length">
        <div v-for="anime in animes" :key="anime.id" class="anime" @mouseover="showDescription = anime.id" @mouseleave="showDescription = null">
          <div class="hs">
            <img class="anime-poster" v-if="anime.poster && anime.poster.preview2xUrl" :src="anime.poster.preview2xUrl" :alt="anime.russian || 'Anime Poster'">
            <div class="play" @click="showKodikPlayer(anime)"></div>
          </div>
          <span class="name">{{ anime.russian }}</span>
          <span :class="`status ${anime.status.class}`">{{ anime.status.text }}</span>
          <div class="description" v-if="showDescription === anime.id && hasDescription(anime.descriptionHtml)" v-html="anime.descriptionHtml"></div>
        </div>
      </div>
      <div v-else-if="!loading" class="empty-message"> Пусто </div>
      <br>
      <br>
      <div id="pagination" class="pagination" v-if="!loading && animes.length">
        <button @click="previousPage" :disabled="currentPage === 1">Назад</button>
        <span>Страница {{ currentPage }}</span>
        <button @click="nextPage" :disabled="animes.length < page">Вперед </button>
      </div>
      <div v-if="window" class="window">
        <div class="full">
          <div class="player">
            <div class="header">
              <h5 class="mdi mdi-monitor-eye title">&nbsp; &nbsp; {{ title }}</h5>
              <span class="close" @click="close">
                <i class="mdi mdi-close"></i>
              </span>
            </div>
            <iframe :src="kodikLink" frameborder="0" allowfullscreen style="width: 100%; height:450px; border-radius: 5px;"></iframe>
            <div v-if="chronology" class="chronology">
              <h5>Хронология:</h5>
              <div class="chrono" v-for="event in chronology" :key="event.id" @click="showKodikPlayer(event)">
                <img v-if="event.poster && event.poster.previewUrl" :src="event.poster.previewUrl" alt="Poster Image" />
                <div class="title"> {{ event.russian }} </div>
                <div class="date"> {{ event.airedOn.year }} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="infoVisible" class="info-popup">
        <div class="info-popup-content">
          <span class="close" @click="closeInfo">
            <i class="mdi mdi-close" style=" font-size: 16px; "></i>
          </span>
          <h4>Информация</h4>
          <hr>
          <br>
          <p>На сайте часто ведутся технические работы.</p>
          <br>
        </div>
      </div>
      <div v-if="error" class="error">
        <i class="mdi mdi-alert-octagon" style="font-size:20px; color: #721c24;"></i>{{ error }}
      </div>
    </main>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
