<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Найди свое аниме для просмотра!">
    <meta name="keywords" content="anime, аниме, аниме просмотр, watch anime ">
    <meta name="author" content="Pirate">
		<title>Поиск аниме для просмотра</title>
    <link rel="shortcut icon" href="files/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.cdnfonts.com/css/ubuntu-mono-2" rel="stylesheet">
  </head>
  <body>
    <div id="main" class="main" v-cloak>
      <div v-if="!userLoaded" style="display: grid;gap: 5px;grid-template-columns: 1fr auto auto;">
        <input type="text" v-model="inputUserId" placeholder="ID пользователя">
        <button type="submit" @click="fetchUserInfo">Войти</button>
        <button @click="loginAsGuest">Войти как гость</button>
      </div>
      <div v-if="!userLoaded" style=" gap: 10px; display: flex; flex-wrap: wrap; margin-top: 30px; ">
        <h2 style="margin: 0;">Как получить ID пользователя?</h2>
        <hr>
        <img src="https://i.ibb.co/Y0rg3Q5/2024-10-26-00-00-22.png" style="width: 100%;" alt="img">
        <img src="https://i.ibb.co/3sJRmJV/2024-10-26-00-00-41.png" style=" width: 100%; " alt="img">
      </div>
      <div v-if="userLoaded && !isGuest">
        <img :src="user.avatarUrl" alt="Аватарка" width="70" style="float: left;border-radius: 4px;">
        <h2 style="left: 10px;position: relative;margin: 0;">{{ user.nickname }}</h2>
        <div class="status-buttons">
          <div v-for="status in statuses" :key="status" @click="fetchUserAnimeList(status)">
            <button class="status-icon material-symbols-outlined">{{ statusIcons[status] }}</button>
          </div>
        </div>
        <div v-if="showAnimeList">
          <div v-if="filteredAnimeList.length > 0" style="display: flex; flex-direction: column; gap: 5px;clear: both;">
            <span class="close-button material-symbols-outlined" @click="closeAnimeList">close</span>
            <div v-for="rate in filteredAnimeList" :key="rate.id"  @click.prevent="selectAnime(rate.anime.id)" class="anime">
              <img :src="'https://shikimori.one/' + (rate.anime.image ? rate.anime.image.x48 : '')" :alt="rate.anime.russian || rate.anime.name" class="poster">
              <span class="title">
                {{ rate.anime ? (rate.anime.russian || rate.anime.name) : 'Название недоступно' }}
              </span>
		    <span class="icon material-symbols-outlined">{{ releaseStatusIcons[rate.anime.status] }}</span>
            </div>
          </div>
          <p v-else>Нет аниме с выбранным статусом.</p>
        </div>
      </div>
      <div v-if="!showAnimeList" style="display: flex;flex-direction: column;gap: 10px;clear: both;top: 10px;position: relative;">
        <div v-if="userLoaded" style="display: grid;">
          <input type="text" v-model="searchQuery" placeholder="Поиск аниме" style=" grid-area: 1/1; ">
          <span class="material-symbols-outlined" style=" grid-area: 1/1; margin-left: auto; margin-right: 5px; background: var(--bg); z-index: 1; height: 20px; align-self: center;margin-top: -3px; ">search</span>
        </div>
        <div v-if="searchResults.length > 0 " style="display: flex; flex-direction: column; gap:10px">
          <div v-for="anime in searchResults" :key="anime.id" class="anime"  @click.prevent="selectAnime(anime.id)">
            <img :src="anime.poster ? anime.poster.mainUrl : ''" :alt="anime.russian || anime.name" class="poster">
            <span class="title">
              {{ anime.russian || anime.name }}
            </span>
            <span class="icon material-symbols-outlined">{{ releaseStatusIcons[anime.status] }}</span>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
