@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --c: white;
  --color: #555;
  --color-1: whitesmoke;
  --color-2: #dfdfdf;
  --color-3: #e9f0ff;
  --color-4: #556c8f;
  --size: 900px;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 1124px) {
  body:before {
    --size: 30px;
    --line: whitesmoke;
    content: "";
    height: 100vh;
    width: 100%;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    top: 0;
    z-index: -1;
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 0) 100%,
        rgba(0, 0, 0, 1) 100%
      ),
      linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 0) 85%,
        rgba(0, 0, 0, 1) 100%
      );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 0) 100%,
        rgba(0, 0, 0, 1) 100%
      ),
      linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 0) 85%,
        rgba(0, 0, 0, 1) 100%
      );
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  line-height: 1.3;
  font-weight: bold;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 1.25em;
  line-height: 1.6;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  line-height: 1.7;
  font-weight: bold;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

::selection {
  background: var(--color);
  color: var(--c);
}

hr {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom:1px solid var(--color-2);
}

:focus {
  outline: none;
}

* {
  color: var(--color);
  margin: 0;
  padding: 0;
  font: 14px "PT Sans", sans-serif, "Material Design Icons";
  line-height: 1.5;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button {
  background: var(--c);
  padding: 5px;
  border: 1px solid var(--color-1);
  border-radius: 3px;
  color: var(--color);
  cursor: pointer;
  padding: 2px 5px;
}

button:active {
  box-shadow: 0 0 3px 1px var(--color-1) inset;
}

input,
textarea {
  background: var(--c);
  border: 1px solid var(--color-1);
  padding: 2px 5px;
  border-radius: 3px;
}

input:focus,
textarea:focus {
  border-color: var(--color-2);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  padding: 10px;
}

@media (max-width: 478px) {
  nav > .this > input,
  nav {
    width: 100%;
  }
}
nav > .this > input::placeholder {
  opacity: 0.5;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  gap: 10px;
  align-items: center;
}


.this {
  display: flex;
  flex-direction: row;
}
nav > .this > input {
  border-radius: 3px 0 0 3px;
}

nav > .this > button {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

nav:before {
  content: "";
  background: url(/files/img/luffy.webp) no-repeat;
  width: 50px;
  height: 36px;
  position: absolute;
  top: -23px;
  right: 40px;
  background-size: contain;
}

.anime-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 3px;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

@media (max-width: 318px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 318px) and (max-width: 520px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 520px) and (max-width: 600px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.anime {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.name, .last {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.window {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.player {
  background-color: var(--c);
  padding: 0 15px 15px 15px;
  border: 1px solid var(--color-2);
  border-radius: 5px;
  max-width: 820px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close {
  color: var(--color);
  float: right;
}

.close i {
  font-size: 24px;
  color: red;
}

.close i:hover,
.close i:focus {
  color: rgb(172, 12, 12);
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-2);
  align-items: center;
  padding: 5px;
}

.hs {
  position: relative;
  line-height: 0;
  cursor: pointer;
}

.play {
  font-size: 35px;
}

.hs:hover .play:before {
  content: "ó°Š";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000cc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px 10px;
  border: 1px solid #e6bcc0;
  border-radius: 4px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.error.hidden {
  opacity: 0;
  visibility: hidden;
}

.status {
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  position: absolute;
  bottom: 28px;
  right: 0;
}

.released {
  background: forestgreen;
}

.anons {
  background: darkviolet;
}

.ongoing {
  background: cornflowerblue;
}


.info-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.info-popup-content {
  background: var(--c);
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-info {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.like-it {
  display: grid;
  grid-template-columns: 28px 10px min-content;
  align-items: center;
}

.like {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.like > i {
  font-size: 16px;
}

.liked {
  background: var(--color-1);
}
