[v-cloak] {
    display: none;
}
.main {
    max-width: 600px;
    margin: 10px auto 10px auto;
    padding: 15px;
}

:root {
    --bg: black;
    --color: white;
    --close: red;
}
:focus {
    outline: none;
}

img {
    object-fit: cover;
}
html {
    font-family: "Ubuntu Mono", sans-serif;
}
body {
    background: var(--bg);
    color: var(--color);
    margin: 0;
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--color);
    width: 100%;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: var(--color);
}
button:active {
    box-shadow: inset 0px 0px 5px 3px #5f5d5d;
}
button {
    background: inherit;
    border: 1px solid var(--color);
    color: var(--color);
    padding: 8px;
    cursor: pointer;
    font-weight:normal;
}

.status-icon {
    cursor: pointer;
    background: #202022;
    color: var(--color);
    border: none;
    padding: 4px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 2px #5f5d5d;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
input[type="text"] {
    padding: 8px 8px;
    background: inherit;
    border: 1px solid var(--color);
    color: var(--color);
    opacity: 0.8;
    border-radius: inherit;
}

input[type="text"]:focus {
    opacity: 1;
}

.anime {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.anime:hover {
    background: var(--color);
    color: var(--bg);
}

.poster {
    --size: 40px;
    width: var(--size);
    height: var(--size);
}

.anime .icon {
    margin-right: 5px;
    position: relative;
    font-size:16px;
}

.status-buttons {
    display: flex;
    gap: 7px;
    float: left;
    margin: 7px;
    clear: right;
    position: relative;
}
.status-buttons button:hover:before {
    visibility: visible;
}

.status-buttons button:before {
    position: absolute;
    top: -30px;
    font-family: sans-serif;
    font-size: 12px;
    background: var(--color);
    color: var(--bg);
    visibility: hidden;
    padding: 5px;
}
.status-buttons div:nth-child(1) button:before {
    content: "Весь список";
}

.status-buttons div:nth-child(2) button:before {
    content: "Смотрю";
}

.status-buttons div:nth-child(3) button:before {
    content: "Запланировано";
}

.status-buttons div:nth-child(4) button:before {
    content: "Просмотрено";
}

.status-buttons div:nth-child(5) button:before {
    content: "Отложено";
}

.status-buttons div:nth-child(6) button:before {
    content: "Брошено";
}

.close-button {
    margin-top: 10px;
    align-self: self-end;
    padding: 0;
    background: inherit;
    border: indianred;
    color: var(--close);
    cursor: pointer;
}
.close-button:hover {
    opacity: 0.8;
}

.close-button {
    margin-top: 10px;
    display: block;
}
#kodik-player-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#kodik-player-modal iframe {
    width: 80%;
    height: 80%;
    max-width: 1000px;
    max-height: 600px;
    border: none;
}
#kodik-player-modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
