@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.light {
  --bg: #fafafa;
  --border: #e4e4e4;
  --shadow: #e7e7e7;
  --surface: white;
  --color: black;
  --link: #4169e1;
  --link-hover: #ff7f50;
  --button-shadow: #f5f5f5;
  --button-bg: white;
  --button-border: #e6e6e6;
  --button-hover-border: #d1d1d1;
  --button-active-shadow: #f5f5f5;
  --btn-dsb: #d2d2d2;
  --input-border: #e0e0e0;
  --input-focus-border: #a7a3fb;
  --bg-selection: #f7ebcc;
  --color-selection: #000000;
  --error-border: #a70d05;
  --error-surface: #dc3d3d;
  --error-color: #f9eaea;
  --success-border: #5fd4ad;
  --success-surface: #6effcb;
  --success-color: #155b3c;
  --status-purple: #9382d4;
  --status-blue: #00c8ff;
  --status-green: #1bffca;
  --status-orange: #fc9b07;
  --status-red: red;
  --status-border-purple: #b6a9ea;
  --status-border-blue: #93e1fc;
  --status-border-green: #68e0b7;
  --status-border-orange: #ffca7b;
  --status-border-red: rgb(244, 114, 114);
  --anime-hover: #e6ebf0;
  --loader-0: #00000014;
  --loader: #d59208;
}

.dark {
  --bg: #16191d;
  --border: #343a40;
  --shadow: #0b0b0b;
  --surface: #212529;
  --color: #d3d3d3;
  --link: darkturquoise;
  --link-hover: powderblue;
  --button-shadow: #66717c;
  --button-bg: #2d353d;
  --button-border: #464e56;
  --button-hover-border: #5b6570;
  --button-active-shadow: #171a1d;
  --btn-dsb: #414951;
  --input-border: #363d45;
  --input-focus-border: #3e6078;
  --side-menu-button-hover: #2d363f;
  --bg-selection: #04413a;
  --color-selection: #ffffff;
  --error-border: #a82422;
  --error-surface: #4d0c0c;
  --error-color: #fff0f0;
  --success-border: #22a872;
  --success-surface: #0c4d2e;
  --success-color: #e4f6df;
  --bar: #33dbbe;
  --anime-hover: #23282c;
  --status-purple: #6f5ed4;
  --status-blue: #5ea3d4;
  --status-green: #52b97b;
  --status-orange: #fc9b07;
  --status-red: #a00c0c;
  --status-border-purple: #7d7bf9;
  --status-border-blue: #7bc6fc;
  --status-border-green: #82ffb4;
  --status-border-orange: #ffca7b;
  --status-border-red: rgb(244, 114, 114);
  --loader-0: #ffffff14;
  --loader: #03a9f4;
}

* {
  color: var(--color);
  box-sizing: border-box;
}

body {
  font: 14px "Open Sans", sans-serif;
  background: var(--bg);
  color: var(--color);
  margin: 0;
}

:focus {
  outline: none;
}

::selection {
  background: var(--bg-selection);
  color: var(--color-selection);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

hr {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #0000001a;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea {
  padding: 6px 5px;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  transition: 360ms;
  background: var(--surface);
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: var(--input-focus-border);
}

button:disabled {
  background: var(--button-bg);
  color: var(--btn-dsb);
  border: 1px solid var(--btn-dsb);
  cursor: not-allowed;
}
button:disabled:hover,
button:disabled:active {
  background: transparent;
  background: var(--button-bg);
  border: 1px solid var(--btn-dsb);
  box-shadow: none;
}

button {
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 1px 0px var(--button-shadow);
  line-height: 1;
  display: inline-flex;
}

button:hover {
  border: 1px solid var(--button-hover-border);
}

button:active,
.on {
  box-shadow: inset 0px 0px 7px 2px var(--button-active-shadow);
  border: 1px solid var(--button-border);
}
.main:has(.access) {
  padding: 0;
}
.main {
  padding: 10px;
}

.message {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 7px;
  display: flex;
  gap: 4px;
  align-items: center;
  z-index: 2000;
}
.page {
  padding: 10px;
}
.page:not(:has(.access)) {
  max-width: 650px;
  margin: 0 auto;
}

.page:has(:not(.profil)) .menu {
  margin-bottom: 20px;
}

.page:has(.profil) .menu button {
  display: flex;
  gap: 4px;
  align-items: center;
}

.items {
  margin-top: 10px;
}
@media (min-width: 478px) {
  a.avalink {
    float: left;
  }
  b.nickname {
    display: block;
    margin-left: 98px;
  }
}

.menu button .material-symbols-outlined,
.list > div > div > .material-symbols-outlined {
  font-size: 17px !important;
}

.menu {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.success > span {
  font-size: 20px !important;
  color: var(--success-color);
}
.error > span {
  font-size: 20px !important;
  color: var(--error-color);
}

.material-symbols-outlined {
  font-size: 14px !important;
}
.success {
  border: 1px solid var(--success-border);
  background: var(--success-surface);
  border-radius: 4px;
  color: var(--success-color);
}

.error {
  border: 1px solid var(--error-border);
  background: var(--error-surface);
  border-radius: 4px;
  color: var(--error-color);
}

.access {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
  width: 100%;
}

.xx {
  position: absolute;
  right: 6px;
  font-size: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  background: var(--surface);
  cursor: pointer;
}
.y {
  position: relative;
  display: flex;
  align-items: center;
}
.exept,
.list > div > div:hover,
.close:hover {
  opacity: 0.6;
}

.exept:hover,
.close {
  opacity: 1;
}

.profil {
  margin-bottom: 15px 0 15px 0;
}

.avatar {
  max-width: 80px;
  border-radius: 50%;
  margin-top: -15px;
  margin-right: 15px;
}

.list {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  margin: 10px 0 30px 0;
  justify-content: space-between;
}

.list > div > div {
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 1;
  cursor: pointer;
}

.fp {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.close {
  color: red;
}

.anime img {
  max-width: var(--size);
  max-height: var(--size);
  border-radius: 4px 0 0 4px;
  --size: 40px;
}

.anime {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}
.anime:hover {
  background: var(--anime-hover);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.anime-status {
  padding-right: 10px;
}

.status-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.status-button.on:nth-child(1) {
  box-shadow: inset 0px 0px 7px 2px var(--status-purple);
  border: 1px solid var(--status-border-purple);
}

.status-button.on:nth-child(2) {
  box-shadow: inset 0px 0px 7px 2px var(--status-blue);
  border: 1px solid var(--status-border-blue);
}

.status-button.on:nth-child(3) {
  box-shadow: inset 0px 0px 7px 2px var(--status-green);
  border: 1px solid var(--status-border-green);
}

.status-button.on:nth-child(4) {
  box-shadow: inset 0px 0px 7px 2px var(--status-orange);
  border: 1px solid var(--status-border-orange);
}

.status-button.on:nth-child(5) {
  box-shadow: inset 0px 0px 7px 2px var(--status-red);
  border: 1px solid var(--status-border-red);
}

@media (max-width: 478px) {
  .nickname {
    margin-bottom: 20px;
    display: block;
    margin-left: 0;
  }
  .list {
    margin: 15px 0 30px 0;
    justify-content: space-evenly;
  }
  .items {
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .avalink {
    cursor: zoom-in;
  }

  .avatar {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .xol {
    display: none;
  }
}

.go-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  background-color: var(--surface);
  padding: 20px 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 80vh;
  overflow-y: auto;
  color: var(--color);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: red;
}

.faq-text p {
  margin-bottom: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.anime:has(:not(.anime-status)) .status {
  padding-right: 10px;
}


.avatar-upload {
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 50%;
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    --size: 94px;
    align-self: center;
  }
  
  .avatar-upload.drag-over {
    border-color: var(--success-border);
  }
  
  .avatar-upload input[type="file"] {
    opacity: 0;
    position: absolute;
    width: var(--size);
    height: var(--size);
    --size: 90px;
    cursor: pointer;
  }
  
  .avatar-instruction img {
    border-radius: 50%;
  }
  
  .avatar-preview img {
    width: var(--size);
    height: var(--size);
    --size: 90px;
    border-radius: 50%;
  }
  